.game-die{
    text-align: center;
    font-size: 50px;
    font-weight: 800;
    position: fixed;
    top: 50%;
    left: 0;
    right: 0;
}
@media screen and (max-width: 500px) {
    .game-die{
        font-size: 25px;
    }    
}