.power-wrap{
    /* height: 300px; */
    width: 8px;
    background-color: #FFA07A;
    /* float: right; */
    position: absolute;
    right: -100px;
    top: 10px;
    bottom: 66px;
    border-radius: 15px;
    /* overflow: hidden; */
}
.power-content{
    background-color: #FF4500;
    position: absolute;
    border-radius: 15px;
    bottom: 0;
    left: 0;
    right: 0;
    transition: height .3s ease-in,background-color, .3s ease-in;
}
.maxScore{
    position: absolute;
    top: -25px;
    left: -7px;
}

@media screen and (max-width: 500px) {
    .power-wrap{
        right: -10px;
        bottom: 0;
    }

}